#app {
}

title {
  /* Your awesome traffic permit consultant. */

  position: absolute;
  width: 741px;
  height: 300px;
  left: calc(50% - 741px / 2 - 189.5px);
  top: 190px;

  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100%;
  /* or 100px */

  display: flex;
  align-items: center;

  color: #ffffff;
}
#logo {
  /* logo */
  height: 50px;
  width: 212px;
  left: 240px;
  top: 50px;
  border-radius: 0px;

  position: absolute;
  width: 212px;
  height: 50px;
  left: 240px;
  top: 50px;
}

#about {
  /* About us */

  position: absolute;
  width: 1170.8px;
  height: 550px;
  left: 245px;
  top: 1290px;
  /* ABOUT */

  position: absolute;
  width: 59px;
  height: 19px;
  left: calc(50% - 59px / 2 - 26.5px);
  top: 61px;
  /* or 100px */

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}

.howto {
  /* HOW TO */
}

  position: absolute;
  width: 65px;
  height: 19px;
  left: calc(50% - 65px / 2 + 132.5px);
  top: 61px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}
#faqs {
  /* FAQS */
}

  position: absolute;
  width: 45px;
  width: 65px;
  height: 19px;
  left: calc(50% - 45px / 2 + 291.5px);
  top: 61px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}
button {
  position: absolute;
  width: 158px;
  height: 60px;
  left: calc(50% - 158px / 2 + 469px);
  top: 40px;
  bottom: 0%;
  top: 61px;

  background: #ee4d47;
  border-radius: 5px;
}
.btn {
  /* GET STARTED */
  /* identical to box height */

  position: absolute;
  width: 220px;
  height: 60px;
  left: 240px;
  top: 550px;
}
img {
  max-width: 100%;
  display: block;
}
.items {
  display: flex;
  justify-content: space-between;
}
section-2 {
  width: 811px;
  height: 395.46px;
  top: 791.81px;
  left: -211px;
  blend: Pass through;
  /* mobel */

  position: absolute;
  left: -13.19%;
  right: 62.5%;
  top: 14.71%;
  bottom: 77.94%;
}
.text-about {
  position: absolute;
  width: 166px;
  height: 50px;
  left: calc(50% - 166px / 2 - 472px);
  top: 1364px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #ee4d47;
}
#aboutus {
}
.my-4 {
  position: absolute;
  width: 470px;
  height: 156px;
  left: calc(50% - 470px / 2 - 320px);
  top: 1454px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */

  /* text */

  color: #402b2b;
}
.picture {
  /* Illustration */

  position: absolute;
  width: 575.12px;
  height: 480px;
  left: 840.69px;
  top: 1290px;
}
#illustration {
  /* Illustration */

  position: absolute;
  width: 575.12px;
  height: 480px;
  left: 840.69px;
  top: 1290px;
}
body {
  background-repeat: no-repeat;
}
.picture-a {
  position: absolute;
  width: 1232.61px;
  height: 679.88px;
  left: 127.39px;
  top: 2004.81px;
}
.illustrations {
  position: absolute;
  width: 1232.61px;
  height: 679.88px;
  left: 127.39px;
  top: 2004.81px;
}

.howtoapply {
  position: absolute;
  width: 1232.61px;
  height: 679.88px;
  left: 127.39px;
  top: 2004.81px;
}
.text-apply {
  /* How to apply */

  position: absolute;
  width: 265px;
  height: 50px;
  left: calc(50% - 265px / 2 + 237.5px);
  top: 2101px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ee4d47;
}
.my-5 {
  position: absolute;
  width: 455px;
  height: 287px;
  left: calc(50% - 455px / 2 + 332.5px);
  top: 2191px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */

  /* text */